<?xml version="1.0"?>

<config>
    <ui editor_version="1.0" platform="MSW">
        <ColorPalette>
            <Panel_Color_Light>200, 200, 200, 255</Panel_Color_Light>
            <Panel_Color_Normal>100, 100, 100, 255</Panel_Color_Normal>
            <Panel_Color_Dark>80, 80, 80, 255</Panel_Color_Dark>

            <TextColor_White>255, 255, 255, 255</TextColor_White>
            <TextColor_Orange>240, 240, 240, 255</TextColor_Orange>
        </ColorPalette>
    </ui>
</config>
